[submodule "fabric"]
	path = src/fabric-src
	url = https://github.com/hyperledger/fabric
[submodule "fabric-chaincode-evm"]
	path = src/fabric-chaincode-evm
	url = https://github.com/hyperledger/fabric-chaincode-evm
