fab3/fab3
dev/back/.idea
src/fabric-src
src/fabric-chaincode-evm
dev/sc/eth/.idea
dev/sc/eth/build
dev/sc/eth/contract_address
dev/sc/eth/node_modules
dev/sc/eth/node_modules
networks/fabric/channel-artifacts/channel.tx
networks/fabric/channel-artifacts/genesis.block
networks/fabric/channel-artifacts/Org1MSPanchors.tx
networks/fabric/channel-artifacts/Org2MSPanchors.tx
networks/fabric/crypto-config/ordererOrganizations
networks/fabric/crypto-config/peerOrganizations
.idea/
dev/back/bridge.iml
dev/back/.elixir_ls
networks/eth/node/data/geth