fab3/fab3
dev/back/.idea
fabric-src
fabric-chaincode-evm
dev/sc/evmcc-bridge/.idea
dev/sc/evmcc-bridge/build
dev/sc/evmcc-bridge/contract_address
dev/sc/evmcc-bridge/node_modules
dev/sc/eth-bridge/.idea
dev/sc/eth-bridge/build
dev/sc/eth-bridge/node_modules
network/fabric/channel-artifacts/channel.tx
network/fabric/channel-artifacts/genesis.block
network/fabric/channel-artifacts/Org1MSPanchors.tx
network/fabric/channel-artifacts/Org2MSPanchors.tx
network/fabric/crypto-config/ordererOrganizations
network/fabric/crypto-config/peerOrganizations
dev/sc/evmcc-bridge/build
dev/sc/evmcc-bridge/contract_address
.idea/
dev/back/bridge.iml